<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.radiancex">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.android.radiancex.ui.screen.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.android.radiancex.ui.screen.RegisterActivity">
        </activity>
        <activity android:name="com.example.android.radiancex.ui.screen.MainActivity"></activity>
        <activity
            android:name="com.example.android.radiancex.ui.screen.AddNewEntryActivity"
            android:parentActivityName="com.example.android.radiancex.ui.screen.MainActivity" />
        <activity
            android:name="com.example.android.radiancex.ui.screen.browse.BrowseActivity"
            android:parentActivityName="com.example.android.radiancex.ui.screen.MainActivity" />
        <activity
            android:name="com.example.android.radiancex.ui.screen.LearnActivity"
            android:parentActivityName="com.example.android.radiancex.ui.screen.MainActivity" />
    </application>

</manifest>